<form action="/add" method="POST">


<div class="col-md-12">
    <div class="header">
        <img src="images/cars_50_1_50.jpeg">
        <h1>REG-NUMBERS</h1>
        <p>Western Cape registration numbers</p>
    </div>
</div>

<div class="all-content">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="pwd">Registration number:</label>
                <input type="reg-number" class="form-control" value="{{input}}" id="pwd" placeholder="enter reg number here">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <select class="form-control">
                <option value="select All">Select All</option>
                <option value="Cape Town">Cape Town</option>
                <option value="Paarl">Paarl</option>
                <option value="George">George</option>
                <option value="Stellenbosch">Stellenbosch</option>
            </select>

        </div>
    </div>

    <div class="col-md-6">
        <button type="button" class="btn btn-success">Add</button>
        <button type="button" class="btn btn-danger">Reset</button>
    </div>

    <div class="output">

    </div>
</form>




</div>

<div>
    <hr class="style-eight">

</div>